@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --text-color-primary: #2C2C2C;
  --text-color-accent: #BBF330;
  --text-color-placeholder: #505050;
  --text-color-link: #7EB101;
  --text-color-menu: #000000;
  --error-color: #FF705D;
  --bnt-background-green: #BBF330;
  --bnt-background-green-acent: #B5FF00;
  --bnt-background-white: #FFFFFF;
  --bnt-background-yellow: #FFE550;
  --btn-border: #7EB101;
  --btn-border-acent: #597D00;
  --background-primary: #FFFFFF;
  --background-second: ##FEFEFE;
  --background-yellow: #FFE550;
  --background-circles: #FEFEFE;
  --box-shadow-header: 0px 4px 24px rgba(105, 105, 105, 0.1);
  --box-shadow-footer: 0px -4px 24px rgba(105, 105, 105, 0.1);
  --swiper-navigation-size: 40px;
  --padding-v-desk: 16px;
  --padding-v-tab: 32px;
  --padding-v-mob: 20px;
  --duration-primary: 250ms;
  --timing-function-primary: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  background-color: var(--background-second);
  position: relative;
}
.header__container {
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding: 10px 20px;
  box-shadow: var(--box-shadow-header);
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 10px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    padding: 10px 16px;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.navigation__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-menu);
  padding-top: 28px;
  padding-bottom: 28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--text-color-accent);
  font-weight: 500;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.navigation__btn {
  cursor: pointer;
  margin-left: 30px;
  border: none;
  padding: 6px 18px;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--bnt-background-green);
  border-radius: 30px;
}
.navigation__btn:hover, .navigation__btn:focus {
  font-weight: 500;
  background-color: var(--bnt-background-green-acent);
}

.menu {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 20px;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  overflow: hidden;
  transition: 0.3s all;
}
.menu__container {
  width: 130px;
}
.menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__item {
  padding: 16px;
}
.menu__item:active {
  background-color: var(--bnt-background-green);
}
.menu__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.menu.is-open {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu.is-open {
    display: none;
  }
}
.menu__button {
  cursor: pointer;
  display: inline-flex;
  border: none;
  background-color: transparent;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button:hover, .menu__button:focus {
  color: var(--bnt-background-green-acent);
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}
.menu__button .menu__icon-cross {
  display: none;
}
.menu__button.is-open .menu__icon-cross {
  display: block;
}
.menu__button.is-open .menu__icon-burger {
  display: none;
}
.menu__icon-burger {
  fill: var(--btn-border);
}
.menu__icon-cross {
  fill: #2C2C2C;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */