<section class="customers" id="customers">
  <div class="customers__container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers__list">
      <li class="customers__item">
        <div class="customers__list--icon">
          <svg class="customers__list--icon-star" width="101" height="16">
            <use href="./images/customers/star.svg#stars"></use>
          </svg>
        </div>

        <p class="customers__item--text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__item--info">
          <img
            class="customers__item--img"
            srcset="
              ./images/customers/boy.jpg   1x,
              ./images/customers/boy2x.jpg 2x
            "
            src="./images/customers/boy.jpg"
            alt="client"
          />
          <div class="customers__item--info-box">
            <h3 class="customers__item--name">Sumith Shah</h3>
            <p class="customers__item--dude">Some Dude</p>
          </div>
        </div>
      </li>

      <li class="customers__item">
        <div class="customers__list--icon">
          <svg class="customers__list--icon-star" width="101" height="16">
            <use href="./images/customers/star.svg#stars"></use>
          </svg>
        </div>
        <p class="customers__item--text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__item--info">
          <img
            class="customers__item--img"
            srcset="
              ./images/customers/girl.jpg   1x,
              ./images/customers/girl2x.jpg 2x
            "
            src="./images/customers/girl.jpg"
            alt="client"
          />
          <div class="customers__item--info-box">
            <h3 class="customers__item--name">Sumith Shah</h3>
            <p class="customers__item--dude">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
