<section class="favorites" id="favorites">
  <div class="favorites__container">
    <h1 class="favorites__title">Some Of Our Favorites</h1>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__list">
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/gamburger-mob-1x.png  224w,
              ./images/favorites/gamburger-tab-1x.png  268w,
              ./images/favorites/gamburger-desk-1x.png 315w,
              ./images/favorites/gamburger-mob-2x.png  448w,
              ./images/favorites/gamburger-tab-2x.png  536w,
              ./images/favorites/gamburger-desk-2x.png 630w
            "
            src="./images/favorites/gamburger-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width:320px) 224px, 100vw"
            alt="Gamburger"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/pasta-mob-1x.png  224w,
              ./images/favorites/pasta-tab-1x.png  268w,
              ./images/favorites/pasta-desk-1x.png 315w,
              ./images/favorites/pasta-mob-2x.png  448w,
              ./images/favorites/pasta-tab-2x.png  536w,
              ./images/favorites/pasta-desk-2x.png 630w
            "
            src="./images/favorites/pasta-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px, 100vw"
            alt="Pasta"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/pizza-mob-1x.png  224w,
              ./images/favorites/pizza-tab-1x.png  268w,
              ./images/favorites/pizza-desk-1x.png 315w,
              ./images/favorites/pizza-mob-2x.png  448w,
              ./images/favorites/pizza-tab-2x.png  536w,
              ./images/favorites/pizza-desk-2x.png 630w
            "
            src="./images/favorites/pizza-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (min-width: 320px) 224px, 100vw"
            alt="Pizza"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/chicken-tab-1x.png  268w,
              ./images/favorites/chicken-desk-1x.png 315w,
              ./images/favorites/chicken-tab-2x.png  536w,
              ./images/favorites/chicken-desk-2x.png 630w
            "
            src="./images/favorites/chicken-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            alt="Chicken"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/salat-tab-1x.png  268w,
              ./images/favorites/salat-desk-1x.png 315w,
              ./images/favorites/salat-tab-2x.png  536w,
              ./images/favorites/salat-desk-2x.png 630w
            "
            src="./images/favorites/salat-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            alt="Salad"
          />
        </a>
      </li>
      <li class="favorites__item">
        <a href="#favorites" class="favorites__link">
          <img
            class="favorites__img"
            srcset="
              ./images/favorites/borshch-tab-1x.png  268w,
              ./images/favorites/borshch-desk-1x.png 315w,
              ./images/favorites/borshch-tab-2x.png  536w,
              ./images/favorites/borshch-desk-2x.png 630w
            "
            src="./images/favorites/borshch-desk-2x.png"
            sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, 100vw"
            alt="Borshch"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
