<section class="favorites">
  <h1 class="favorites__title">Some Of Our Favorites</h1>
  <p class="favorites__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="favorites__list">
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/gamburger-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/gamburger-tab-2x.png"
            media="(min-width: 768px)" />
          <source
            srcset="./images/favorites/gamburger-mob-2x.png"
            media="(min-width: 480px)" />
          <img
            class="favorites__img"
            src="./images/favorites/gamburger-desk-2x.png"
            alt="Hamburger"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/pasta-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/pasta-tab-2x.png"
            media="(min-width: 768px)" />
          <source
            srcset="./images/favorites/pasta-mob-2x.png"
            media="(min-width: 480px)" />
          <img
            class="favorites__img"
            src="./images/favorites/pasta-desk-2x.png"
            alt="Pasta"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/pizza-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/pizza-tab-2x.png"
            media="(min-width: 768px)" />
          <source
            srcset="./images/favorites/pizza-mob-2x.png"
            media="(min-width: 480px)" />
          <img
            class="favorites__img"
            src="./images/favorites/pizza-desk-2x.png"
            alt="Pizza"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/chicken-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/chicken-tab-2x.png"
            media="(min-width: 768px)" />
          <img
            class="favorites__img"
            src="./images/favorites/chicken-desk-2x.png"
            alt="Chicken"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/salat-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/salat-tab-2x.png"
            media="(min-width: 768px)" />
          <img
            class="favorites__img"
            src="./images/favorites/salat-desk-2x.png"
            alt="Salad"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
    <li class="favorites__item">
      <a href="" class="favorites__link">
        <picture
          ><source
            srcset="./images/favorites/borshch-desk-2x.png"
            media="(min-width: 1280px)" />
          <source
            srcset="./images/favorites/borshch-tab-2x.png"
            media="(min-width: 768px)" />
          <img
            class="favorites__img"
            src="./images/favorites/borshch-desk-2x.png"
            alt="Borshch"
            width="315"
            height="315"
        /></picture>
      </a>
    </li>
  </ul>
</section>
