<div class="container">
    <footer class="footer section"><a href="" class="footer-logo__link"><img src="./images/footer/logo.svg" alt="logo"
                class="footer-logo__img"></a>
        <nav class="footer-nav">
            <ul class="footer-nav__list">
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Home</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">About</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Service</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Menu</a></li>
                <li class="footer-nav__item"><a href="" class="footer-nav__link">Contact</a></li>
            </ul>
        </nav>
        <form class="footer-form"> <label for="footer-form__label" class="footer-form__label"></label> <input
                class="footer-form__input" id="footer-form__label" type="email" placeholder="Enter your email">
            <button class="footer-form__button" type="submit">Subscribe</button>
            <p class="footer-form__text">By subscribing you agree to with our <a href="">Privacy Policy</a></p>
        </form>
        <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer__link">Privacy Policy</a></li>
            <li class="footer__item"><a href="" class="footer__link">Terms of Service</a></li>
            <li class="footer__item"><a href="" class="footer__link">Cookies Settings</a></li>
        </ul>
        <p class="footer-text">2022 FoodSta. All right reserved.</p>
    </footer>
</div>