<section class="hero" id="hero">
  <div class="hero__container">
    <div class="hero__wrap">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button data-modal-open1 type="button" class="hero__btn">
        Order Now
      </button>
    </div>
    <div class="slaider-img">
      <div class="image-slider swiper-container swiper">
        <div class="image-slider__wraper swiper-wrapper">
          <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <img
                class="img"
                src="./images/hero/hero-tablet-1x.png"
                alt="food"
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
                srcset="
                  ./images/hero/hero-tablet-1x.png  292w,
                  ./images/hero/hero-desk-1x.png    528w,
                  ./images/hero/hero-tablet-2x.png  584w,
                  ./images/hero/hero-desk-2x.png   1056w
                "
              />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <img
                class="img"
                src="./images/hero/hero-tabletsl2-1x.png"
                alt="salat"
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
                srcset="
                  ./images/hero/hero-tabletsl2-1x.png  292w,
                  ./images/hero/hero-tabletsl2-2x.png  584w,
                  ./images/hero/hero-desksl2-1x.png    528w,
                  ./images/hero/hero-desksl2-2x.png   1056w
                "
              />
            </div>
          </div>
          <div class="image-slider__slide swiper-slide">
            <div class="image-slider__image">
              <img
                class="img"
                src="./images/hero/hero-tabletsl3-1x.png"
                alt="dish"
                sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px"
                srcset="
                  ./images/hero/hero-tabletsl3-1x.png  292w,
                  ./images/hero/hero-tabletsl3-2x.png  584w,
                  ./images/hero/hero-desksl3-1x.png    528w,
                  ./images/hero/hero-desksl3-2x.png   1056w
                "
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn-slide__left">
          <svg class="hero-svg" width="12" height="20">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
      <div>
        <button class="btn-slide__right">
          <svg class="hero-svg" width="12" height="20">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
