<section class="hero">
    <div class="container">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
     <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
    <button data-modal-open type="button" class="hero__btn">Order Now</button> 
    <div class="image-slider swiper-container">
        <div class="image-slider__wraper swiper-wraper">
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                           <img src="./images/hero/hero-tablet-1x.jpg" alt="food">
                </div>
            </div>
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                     <img src="./images/hero/hero-tablet-sl2-1x.jpg" alt="food">
                </div>

            </div>

        </div>


    </div>
    
</div>
</section>