<section class="offerings" id="offerings">
  <div class="offerings__container">
    <div class="offerings__img">
      <picture>
        <img
          class="offerings__apple--mobile"
          srcset="
            ./images/offerings/aple/apple-mob-280.png    1x,
            ./images/offerings/aple/apple-mob-280@2x.png 2x
          "
          src="../src/images/offerings/aple/apple-mob-280.png"
          alt="aple"
        />
      </picture>
      <picture class="offerings__apple--tabl">
        <img
          class="offerings__apple--tablet"
          srcset="
            ./images/offerings/aple/apple-tablet-704.png    1x,
            ./images/offerings/aple/apple-tablet-704@2x.png 2x
          "
          src="./images/offerings/aple/apple-tablet-704.png"
          alt="aple"
        />
      </picture>
      <picture>
        <img
          class="offerings__apple--desktop"
          srcset="
            ./images/offerings/aple/apple-desktop-550.png    1x,
            ./images/offerings/aple/apple-desktop-550@2x.png 2x
          "
          src="./images/offerings/aple/apple-desktop-550.png"
          alt="aple"
        />
      </picture>
    </div>
    <div class="offerings__wrap">
      <h2 class="offerings__title">What’s Special About Our Offerings</h2>
      <p class="offerings__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings__list">
        <li class="offerings__item--rocket">
          <h3 class="offerings__pretitle">Fasest Delivery</h3>
          <p class="offerings__pretext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings__item--touch-app">
          <h3 class="offerings__pretitle">Easy To Order</h3>
          <p class="offerings__pretext">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button type="button" class="offerings__btn" data-modal-open2>
        Order Now
      </button>
      <button type="button" class="offerings__button">Read More</button>
    </div>
  </div>
</section>
