<section class="subscribe_section" id="subscribe">
  <div class="subscribe_container">
    <img
      srcset="
        ./images/subscribe/banan.png          280w,
        ./images/subscribe/banan-tab.png      281w,
        ./images/subscribe/banan-desk.png     608w,
        ./images/subscribe/banan@2x.png       560w,
        ./images/subscribe/banan-tab@2x.png   562w,
        ./images/subscribe/banan-desk@2x.png 1261w
      "
      sizes="(min-width:1280px) 608px, (min-width:767px) 281px, (min-width:320px) 280px"
      src="./images/subscribe/banan.png"
      alt="Banana"
      class="subscribe__img"
    />
    <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscribe__form">
      <label class="subscribe__label"
        ><span class="subscribe__form-text">Subscribe</span>
        <input
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}"
          name="email"
          class="subscribe__input"
          placeholder="Enter your email"
        />
        <span class="form-error form-error__text"
          >Not a valid email address (example@email.com)</span
        >
      </label>

      <button class="subscribe__button">Subscribe</button>
    </form>
  </div>
</section>
