.customers-subscribe__wrap {
  max-width: 100%;
  background-repeat: no-repeat;

  background-size: 100% 769px;
  background-image: url('../images/backgrounds/customer-mob.jpg');

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('../images/backgrounds/customer-mob2x.jpg');
  }


  @include mq(mob) {
    background-size: 100% 769px;
    background-image: url('../images/backgrounds/customers-480-1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/backgrounds/customers-480-2x.jpg');
    }
  }


  @include mq(tab) {
    background-size: 100% 544px;
    background-image: url('../images/backgrounds/customer-tab.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/backgrounds/customer-tab2x.jpg');
    }
  }

  @include mq(desk) {
    background-size: 100% 647px;

    background-image: url('../images/backgrounds/customer-desk1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('../images/backgrounds/customer-desk2x.jpg');
    }

  }
}