.favorites {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(tab) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.favorites__container {
  @extend .container;
}

.favorites__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color-primary);

  margin-bottom: 20px;

  @include mq(tab) {
    font-size: 42px;
    line-height: 1.17;
  }
}

.favorites__text {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--text-color-primary);

  margin-bottom: 60px;

  @include mq(tab) {
    font-size: 16px;
    line-height: 1.19;
  }

  @include mq(desk) {
    margin-bottom: 40px;
  }
}

.favorites__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;

  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    width: 280px;
  }

  @include mq(tab) {
    width: 704px;
    gap: 32px;
  }

  @include mq(desk) {
    width: 1248px;
  }
}

.favorites__item {
  @include mq(tab) {
    width: calc((100% - 32px) / 2);
  }

  @include mq(desk) {
    width: calc((100% - 2 * 32px) / 3);
  }

  &:nth-child(n + 4) {
    @include mq(mob-only) {
      display: none;
    }
  }
}

.favorites__link {
  @include link;

  display: block;

  border: 11px solid var(--bnt-background-yellow);
  border-radius: 139.305px;
  background: var(--background-circles);
  padding: 17px;

  transition-property: border-color;
  transition-duration: var(--duration-primary);
  transition-timing-function: var(--timing-function-primary);

  width: 100%;

  @media screen and (min-width: 320px) {
    height: 282px;
  }

  @include mq(tab) {
    height: 338px;
    border: 14px solid var(--bnt-background-yellow);
    border-radius: 167.59px;
    padding: 20px;
  }

  @include mq(desk) {
    height: 397px;
    border: 16px solid var(--bnt-background-yellow);
    border-radius: 197.5px;
    padding: 24px;
  }

  &:hover,
  &:focus {
    border: 11px solid var(--bnt-background-green);

    @include mq(tab) {
      border: 14px solid var(--bnt-background-green);
    }

    @include mq(desk) {
      border: 16px solid var(--bnt-background-green);
    }
  }

  &:hover .favorites__img,
  &:focus .favorites__img {
    animation: favorites__img-animation 0.5s linear;
    animation-iteration-count: infinite;

    @keyframes favorites__img-animation {
      25% {
        rotate: 3deg;
      }

      50% {
        rotate: 0deg;
      }

      75% {
        rotate: -3deg;
      }

      100% {
        rotate: 0deg;
      }
    }
  }
}

.favorites__img {
  @include img();
  width: 100%;
}
