// footer
.footer {
    box-shadow: var(--box-shadow-footer);

    background-image: url('../images/backgrounds/background-footer-mob-right-480w.jpg'),
        url('../images/backgrounds/background-footer-mob-bottom-480w.jpg'),
        url('../images/backgrounds/background-footer-mob-left-480w.jpg');
    background-repeat: no-repeat;

    background-size: 104px 259px, 253px 66px, 110px 116px;

    background-position: top right, bottom center, 0px 111px;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/backgrounds/background-footer-mob-right-960w.jpg'),
            url('../images/backgrounds/background-footer-mob-bottom-960w.jpg'),
            url('../images/backgrounds/background-footer-mob-left-960w.jpg');
    }

    @include mq(tab) {
        background-image: url('../images/backgrounds/background-footer-tab-right-768w.jpg'),
            url('../images/backgrounds/background-footer-tab-bottom-768w.jpg');
        // background-size: 203px 365px, 785px 506px;
        background-size: 203px 365px, 100%;
        background-position: right top, bottom center;



        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/backgrounds/background-footer-tab-right-1536w.jpg'),
                url('../images/backgrounds/background-footer-tab-bottom-1536w.jpg');
        }
    }

    @include mq(desk) {
        background-image: url('../images/backgrounds/background-footer-desk-1280w.jpg');
        background-size: 1211px 266px;
        background-position: bottom center;



        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/backgrounds/background-footer-desk-2560w.jpg");
        }

    }
}

.footer__container {
    @extend .container;
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(tab) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}


// logo-nav container

.footer-logo-nav__container {
    display: flex;
    margin-bottom: 40px;

    & .navigation {
        display: block;
        margin-left: 84px;
        margin-right: auto;

        @include mq(tab) {
            margin-left: auto;
            margin-right: 0;
            justify-content: center;
            display: flex;
        }

        &__link {
            display: block;
            padding-top: 0;
            padding-bottom: 0;

        }

        &__item {
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }

            @include mq(tab) {
                &:not(:last-of-type) {
                    margin-bottom: 0px;
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include mq(tab) {
                flex-direction: row;
                align-items: center;
                margin: 0;
            }
        }
    }


    .navigation__list {

        @include mq(desk) {
            margin-left: 148px;
        }
    }

    & .navigation__btn {
        display: none;
    }
}


// footer form-nav container
.footer-nav-form__container {
    @include mq(desk) {
        display: flex;
        margin-bottom: 80px;
    }
}


// form
.footer-form {

    @include mq(desk) {
        margin-left: auto;
    }


    & .subscribe__form-text {
        position: relative;
        width: auto;
        height: auto;
        overflow: visible;
        margin: 0;
        clip: auto;
        clip-path: none;
        white-space: normal;
        margin-bottom: 12px;
    }

    & .subscribe__label {
        display: flex;
        flex-direction: column;
    }

    &__rules {
        font-size: 10px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 60px;

        @include mq(tab) {
            text-align: start;
            margin-bottom: 100px;
            font-size: 12px;
            line-height: 1.17;
        }

        @include mq(desk) {
            margin-bottom: 0;
        }
    }


    & .subscribe__input {
        @include mq(tab) {
            width: 279px;
        }

    }

    & .subscribe__button {
        height: 42px;

        background-color: var(--background-primary);
        border: 0.854167px solid var(--btn-border);

        transition: background-color var(--duration-primary) var(--timing-function-primary);

        &:hover,
        &:focus,
        &:active {
            background-color: var(--background-yellow)
        }

        @include mq(tab) {
            margin-left: 13px;
            margin-bottom: 19px;
        }
    }


    & label {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: var(--text-color-primary);
        display: flex;
        flex-direction: column;
    }

    & .subscribe__form {
        align-items: flex-end;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include mq(tab) {
            margin-bottom: 12px;
        }
    }

    & .subscribe-container__form {
        display: flex;
        flex-direction: column;
    }
}



// footer list
.footer {


    &__list {
        @include list();
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @include mq(tab) {
            margin-bottom: 0;
            align-items: flex-end;
            justify-content: flex-start;
        }
    }

    &__item {
        @include mq(tab) {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    &__text {
        font-size: 10px;
        line-height: 12px;
        color: var(--text-color-primary);
        text-align: center;

        @include mq(tab) {
            align-items: flex-end;
            display: flex;
            margin-left: auto;
            font-size: 12px;
            line-height: 1.17;
        }
    }

    &-text__container {
        @include mq(tab) {
            display: flex;
        }
    }

    &__link {
        font-size: 10px;
        line-height: 1.2;
        color: var(--btn-border);

        transition: color var(--duration-primary) var(--timing-function-primary);

        @include mq(tab) {
            font-size: 12px;
            line-height: 1.17px;
        }


        &:active,
        &:focus,
        &:hover {
            color: var(--bnt-background-green);
        }
    }

}