.hero {
  padding-top: 132px; //60

  @include mq(desk) {
    padding-top: 86px; //14
  }


  &__container {
    @extend .container;

    display: flex;
    flex-direction: column;

    @include mq(tab) {
      flex-direction: row;
    }

    @include mq(tab-only) {
      position: relative;
    }
  }


  &__title {

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: var(--text-color-primary);

    @include mq(mob-only) {
      margin-bottom: 28px;

    }

    @include mq(tab) {
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 44px;
      max-width: 537px;
    }

    @include mq(tab-only) {
      position: absolute;
    }

    @include mq(desk) {
      max-width: 503px;
      margin-top: 159px;
      font-size: 48px;
      line-height: 1.2;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;

    color: var(--text-color-primary);

    @include mq(mob-only) {
      margin-bottom: 28px;

    }

    @include mq(tab) {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 144px;
      margin-bottom: 40px;
      max-width: 336px;
    }

    @include mq(desk) {
      max-width: 502px;
      margin-top: 28px;
    }

  }


  &__btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    background-color: var(--bnt-background-green);
    padding: 6px 18px;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    transition: background-color var(--duration-primary) var(--timing-function-primary);

    &:active {
      background-color: var(--bnt-background-green-acent);
    }

    &:hover {
      background-color: var(--bnt-background-green-acent);
    }

    @include mq(mob-only) {
      justify-content: left;
    }

  }


  .slaider-img {
    @include mq(mob-only) {
      display: none;
    }

    @include mq(tab) {
      margin-right: 9px;
      margin-left: auto;
      margin-top: 89px;
      max-width: 320px;
      max-height: 320px;
      position: relative;
    }

    @include mq(desk) {
      margin-top: 0px;
      margin-right: 13px;
      max-width: 580px;
      max-height: 580px;
    }
  }

  .image-slider {
    border: 14px solid var(--bnt-background-yellow);
    border-radius: 50%;
    overflow: hidden;

    @include mq(desk) {
      border: 26px solid var(--bnt-background-yellow);
    }
  }

  .image-slider__image {
    justify-content: center;
    align-items: center;
  }

  .img {
    @include img;
    box-sizing: inherit;
    width: 100%;
  }

  .hero-svg {
    @include mq(desk) {
      width: 16px;
      height: 30px;
    }
  }


  .btn-slide__left {
    position: absolute;
    background-color: var(--bnt-background-white);
    fill: var(--text-color-primary);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: fill var(--duration-primary) var(--timing-function-primary),
      shadow var(--duration-primary) var(--timing-function-primary);

    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }

    @include mq(tab) {
      padding: 4px 9px;
      width: 34px;
      height: 28px;
      left: -11;
    }

    @include mq(desk) {
      padding: 5px 19px 5px 13px;
      width: 48px;
      height: 40px;
      left: -14;

      &:hover {
        fill: var(--btn-border);
      }
    }
  }

  .btn-slide__right {
    position: absolute;
    top: 50%;
    z-index: 1;

    background-color: var(--bnt-background-white);
    fill: var(--text-color-primary);

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;


    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(-1, 1);

    cursor: pointer;

    transition: fill var(--duration-primary) var(--timing-function-primary),
      shadow var(--duration-primary) var(--timing-function-primary);

    &:active {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }


    @include mq(tab) {
      padding: 4px 9px;
      width: 34px;
      height: 28px;
      right: -11;
    }

    @include mq(desk) {
      padding: 5px 19px 5px 13px;
      width: 48px;
      height: 40px;
      right: -14;

      &:hover {
        fill: var(--btn-border);
      }
    }
  }
}